
html{
    font-size: 16px;
    font-family: 'Linden Hill';
    font-weight: normal;
    margin: 0px;
    background-color: #4A95BF;
  }
  
  a{
    text-decoration: none;
  }
  
  body{
    margin: 0;
  }
  
  h1{
      color: #060B0E;
      font-size: 2rem;
      font-weight: normal;
  }
  
  h2{
    font-weight: normal;
  }
  
  h3{
      color: white;
      font-weight: normal;
  }
  
  button{
    font-family: 'Linden Hill';
    background-color: #0F1C23;
    color:#5DBAEF;
    border: 0;
  }
  
  .bannerInfo{
    margin:auto;
  }
  
  #bannerSubHeader{
    text-align: center;
    color:#0F1C23;
    letter-spacing: 1.5px;
    font-weight: bold;
    margin:0;
  }
  
  #bannerTitle{
    margin:0;
    font-size: 3rem;
    text-align: center;
  }
  
  #bannerButton{
    font-family: 'Linden Hill';
    background-color: #0F1C23;
    color: #5DBAEF;
    border: 0;
    margin: auto;
    font-size: 1.5rem;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5%;
  }
  
  #firstIndexWords{
      text-align: center;
      padding: 10%;
      font-size: 1.5rem;
      display: flex;
      justify-content: space-around;
      padding-top: 0px;
      padding-bottom: 0px;
  }
  
  #secondIndexWords{
    text-align: center;
    padding: 10%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .indexImg{
      padding: 3%;
      overflow:hidden;
  }
  
  .grid {
      height: 1200px;
      width: 100%;
      display: grid;
      grid-template-columns: 0.5fr 1.5fr 1fr;
      grid-template-rows: 5% 40% 35% 20%;
    }
    
    .box {
      background-color: #4A95BF;
      color: black;
    }
    
    .navBar {
      grid-column-start: 1;
      grid-column-end: span 4;
      background-color: #0F1C23;
    }
    
    .wordsMid {
      grid-column-start: 1;
      grid-column-end: span 2;
      display:flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
    }
    
    .pictureMid{
      grid-column-start: 3;
      grid-column-end: span 2;
      display: flex;
      align-content: center;
      justify-content: center;
      flex-wrap:wrap;
    }
    
    .footerLogo{
      background-color: #0F1C23;
    }
  
    .footerLeft{
      background-color: #0F1C23;
    }
    
    .footerMid{
      background-color: #0F1C23;
      color: #5DBAEF;
      display:flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
    }
  
    .container{
      display:block;
    }
    
    .footerRight{
      background-color: #0F1C23;
      color: #5DBAEF;
      display:flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
    }
  
    .pageBanner{
      grid-column-start: 1;
      grid-column-end: 4;
      display: flex;
      justify-content: center;
    }
  
    