
html{
    font-size: 16px;
    font-family: 'Linden Hill';
    font-weight: normal;
    margin: 0px;
    background-color: #4A95BF;
  }
  
  a{
    text-decoration: none;
  }
  
  body{
    margin: 0;
  }
  
  h1{
      color: #060B0E;
      font-size: 2rem;
      font-weight: normal;
  }
  
  h2{
    font-weight: normal;
  }
  
  h3{
      color: white;
      font-weight: normal;
  }
  
  button{
    font-family: 'Linden Hill';
    background-color: #0F1C23;
    color:#5DBAEF;
    border: 0;
  }
  
  .grid {
      height: 1200px;
      width: 100%;
      display: grid;
      grid-template-columns: 1.5fr 1fr 1fr 1fr;
      grid-template-rows: 5% 10% 30% 35% 20%;
    }
    
    .box {
      background-color: #4A95BF;
      color: black;
    }

    .navBar {
      grid-column-start: 1;
      grid-column-end: span 4;
      background-color: #0F1C23;
    }

    .pageBanner{
      grid-column-start: 1;
      grid-column-end: 5;
      display: flex;
      justify-content: center;
    }
    .bannerInfo{
      margin:auto;
    }
    
    #bannerSubHeader{
      text-align: center;
      color:#0F1C23;
      letter-spacing: 1.5px;
      margin:0;
    }
    
    #bannerTitle{
      margin:0;
      font-size: 3rem;
      text-align: center;
    }
    
    .indexImg{
        padding: 3%;
        overflow:hidden;
    }

    .intro{
      grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    
    }
    
    .introWords{
      font-size: 1.75rem;
      padding:5%;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
    }

    .introPhoto{
      grid-column-start: 3;
      grid-column-end: 5;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      overflow: hidden;
      align-content: center;
    }

    #introPic{
      padding: 5%;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
    }
    
    .leftWordsMid {
      grid-column-start: 1;
      grid-column-end: span 1;
      display:flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      padding:5%;
      text-align: center;
      background-color: #BACEDA;
      padding-left: 5%;
    }
    
    .rightWordsMid{
      grid-column-start: 2;
      grid-column-end: span 3;
      display: flex;
      align-content: center;
      justify-content: center;
      flex-wrap:wrap;
      background-color: #BACEDA;
      padding-right:5%;
      padding-left:5%;
      font-size: 1.25rem;
    }

    .bottom{
      grid-column-start: 1;
      grid-column-end: 5;
      display: flex;
      justify-content: center;
    }

    #bottomP{
      font-size: 1.25rem;
    }

    #bottomButton{
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 3%;
      padding-right: 3%;
    }

    /* Start of Media Queries! */

  @media only screen and (max-width: 1200px){
    .introWords{
      font-size: 1.5rem;
    }
  }

  @media only screen and (max-width: 1042px){
    .introPic{
      height:85%;
    }
  }

  @media only screen and (max-width: 870px){
    .introWords{
      font-size: 1.35rem;
    }
    .introPic{
      height:75%;
    }

    .rightWordsMid{
      font-size: 1.1rem;
    }

    .grid{
      height: 1100px;
    }
  }

  @media only screen and (max-width: 770px){
    .introWords{
      font-size: 1.15rem;
      margin:0;
      padding:3%;
    }
    .introPic{
      height:60%;
    }
    .rightWordsMid{
      font-size: 1rem;
    }
  }

  @media only screen and (max-width: 680px){
    #bannerTitle{
      font-size: 2.3rem;
    }
    #bannerSubHeader{
      font-size: 1.3rem;
    }
    h1{
      font-size: 1.7rem;
    }
    .rightWordsMid{
      font-size: 0.8rem;
    }

  .logo{
    height: 50%;
  }
    }

  @media only screen and (max-width: 500px){
    .introWords{
      font-size: 1rem;
    }
    h1{
      font-size: 1.4rem;
    }
  }



  

  
    