html{
    font-size: 16px;
}
body{
    margin: 0px;
    font-family: 'Linden Hill';
}

a{
    text-decoration: none;
    cursor: pointer;
  }

  button{
    font-family: 'Linden Hill';
    cursor: pointer;
  }

h1{
    font-weight: normal;
    text-align: center;
    font-size: 2.8rem;
}

h2{
    font-weight: normal;
    text-align: center;
    font-size: 2.3rem;  
}

.title{
    background-color: #0F1C23;
    color:#4A95BF;
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: center;
  }

.header{
    padding-bottom: 0;
    margin-bottom: 0
}

.subheader{
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

.subheaderb4Title{
    font-size: 1.5rem;
    padding-bottom: 12px;
    margin-bottom: 1%;
    margin-top: 0;
    padding-top: 0;
}

p{
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Linden Hill';
    padding: 8px 12px;
}

.grid{
    height: 2100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3% 85.5% 11.5%;
}

.box {
    color: black;
  }

  .navBar {
    grid-column-start: 1;
    grid-column-end: span 4;
    background-color: #0F1C23;
  }

  .middle{
    grid-column-start: 1;
    grid-column-end: span 3;
    background-color:#4A95BF;
  }



/* Start of Media Queries! */

 
