
html{
    font-size: 16px;
    font-family: 'Linden Hill';
    font-weight: normal;
    margin: 0;
    background-color: #4A95BF;
  }

  body{
    margin:0px;
  }

  a{
    text-decoration: none;
    cursor: pointer;
  }


  h1{
    font-weight: normal;
    text-align: center;
    font-size: 2.5rem;
  }

  h2{
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
    margin:1%;
  }

  h3{
    font-weight: normal;
  }

  button{
    font-family: 'Linden Hill';
    cursor: pointer;
  }

  .learnMoreButton{
    font-family: 'Linden Hill';
    background-color: #0F1C23;
    color: #5DBAEF;
    border: 0;
    margin: auto;
    font-size: 1.2rem;
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    border-radius: 5%;
    padding-right: 3%;
    cursor: pointer;
  }

  .learnMoreButton:hover{
    background-color: black;
    color: #5DBAEF;
  }

  p{
    text-align: center;
    padding:1%;
    width:60%;
    margin:auto;
    font-size: 1.2rem;
  }

.grid{
    height: 1500px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4% 10% 70% 16%;
}

.box {
    color: black;
  }

  .navBar {
    grid-column-start: 1;
    grid-column-end: span 4;
    background-color: #0F1C23;
  }

  .titleDiv{
    grid-column-start: 1;
    grid-column-end: span 3;
    text-align: center;
  }

  #titleSubHeader{
    font-size:1.3rem;
  }

  .middle{
    grid-column-start: 1;
    grid-column-end: span 3;
    background-color:#BACEDA;
    padding:2%;
  }

  .middleTitle{
    text-align: center;
    width:60%;
    margin:auto;
  }

  .learnMoreLink{
    font-size: 1.4rem;
    text-decoration: underline;
  }

  .descTitle{
    font-size: 2rem;
    text-align: center;
  }

  .descP{
    width:50%;
    font-size: 1.4rem;
    text-align: center;
    margin:auto;
  }

  .canoeDesc{
    grid-column-start: 1;
    grid-column-end: span 3;
    background-color: #4A95BF;
    padding:3%;
    margin:2%;
  }

  .title{
    background-color: #0F1C23;
    color:#4A95BF;
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: center;
  }


   /* Start of Media Queries! */

  /*desktop screens 1600px and up */

  @media only screen and (min-width:1600px){
    .grid{
      height:1850px;
      grid-template-rows: 4% 10% 69% 17%;
    }
  }

/* Styles look good for tablet screen dimensions in portrait and landscape mode.  */

/* !!!!!!!!!!!!!!!!!! MOBILE  !!!!!!!!!!!!!!!!!! */
/* 
1. iphone SE (375px x 667px)
2. iphone XR (414 px x 896px)
3. iphone 12 Pro (390px x 844px)
4. Pixel 5 (393px x 851px)
5. Samsung Galaxy S8+ (360px x 740px)
6. Samsung Galaxy s20 Ultra (412px x 915px)
7. Galaxy Fold (280px x 653px)
8. Samsung Galaxy A51/71 (412px x 914px)
9. iphone 6/7/8 (375px x 667px)
10. iphone 6/7/8 Plus (414px x 736px)
11. iphone X (375px x 812px) 
*/

/* mobile (portrait) 480px and smaller */
@media only screen and (max-width: 480px){
.grid{
  height: 1450px;
}
  h1{
    font-size: 2rem;
  }

  #titleSubHeader{
    font-size: 1.2rem;
  }

  .middleTitle{
    font-size: 1.6rem;
    width:70%;
  }

  p{
    width:85%;
    font-size: 1rem;
  }
  .learnMoreLink{
    font-size: 1.3rem;
    width:80%;
  }
  .canoeDesc{
    padding:5%;
  }
  .descTitle{
    font-size: 1.6rem;
  }
  .descP{
    font-size: 1.2rem;
    width:65%;
  }
  .learnMoreButton{
    font-size: 1.1rem;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media only screen and (max-width:916px) and (orientation:landscape){
  .grid{
    height:1600px;
    grid-template-rows: 3.8% 10% 70.2% 16%;
  }
}