
html{
    font-size: 16px;
    font-family: 'Linden Hill';
    font-weight: normal;
    margin: 0;
    background-color: #4A95BF;
  }

  body{
    margin:0px;
  }

  a{
    text-decoration: none;
  }


  h1{
    font-weight: normal;
    text-align: center;
    font-size: 2.5rem;
  }

  h2{
    font-weight: normal;
    font-size: 2rem;
  }

  h3{
    font-weight: normal;
  }

  button{
    font-family: 'Linden Hill';
  }

  .learnMoreButton{
    font-family: 'Linden Hill';
    background-color: #0F1C23;
    color: #5DBAEF;
    border: 0;
    margin: auto;
    font-size: 1.2rem;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5%;
  }

  p{
    text-align: center;
    padding:2%;
    width:60%;
    margin:auto;
  }
  
  .descP{
    width:60%;
    font-size: 1.2rem;
    text-align: center;
    margin:auto;
  }

.grid{
    height: 1300px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 10% 25% 15% 5% 15% 5% 20%;
}

.box {
    color: black;
  }

  .navBar {
    grid-column-start: 1;
    grid-column-end: span 4;
    background-color: #0F1C23;
  }

  .titleDiv{
    grid-column-start: 1;
    grid-column-end: span 3;
    text-align: center;
  }

  .middle{
    grid-column-start: 1;
    grid-column-end: span 3;
    background-color:#BACEDA;
    padding:2%;
  }

  .middleTitle{
    text-align: center;
    width:60%;
    margin:auto;
  }

  .lutraDesc{
    grid-column-start: 1;
    grid-column-end: span 3;
    background-color: #4A95BF;
  }

  .spaceOne{
    grid-column-start: 1;
    grid-column-end: span 3;
    background-color:#BACEDA;
  }

  .sylvaDesc{
    grid-column-start: 1;
    grid-column-end: span 3;
    background-color: #4A95BF;
  }

  .spaceTwo{
    grid-column-start: 1;
    grid-column-end: span 3;
    background-color:#BACEDA;
  }

  .title{
    background-color: #0F1C23;
    color:#4A95BF;
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: center;
  }


   /* Start of Media Queries! */

   