
html{
    font-size: 16px;
    font-family: 'Linden Hill';
    font-weight: normal;
    margin: 0;
    background-color: #4A95BF;
  }

  body{
    margin:0px;
  }

  a{
    text-decoration: none;
    color:#0F1C23;
    cursor: pointer;
  }


  h1{
    font-weight: normal;
    text-align: center;
    font-size: 2.5rem;
    margin:1%
  }

  h2{
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
    margin:1%;
  }

  h3{
    font-weight: normal;
  }

  button{
    font-family: 'Linden Hill';
    cursor: pointer;
  }

  .learnMoreButton{
    font-family: 'Linden Hill';
    background-color: #0F1C23;
    color: #5DBAEF;
    border: 0;
    margin: auto;
    font-size: 1.2rem;
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    border-radius: 5%;
    padding-right: 3%;
    cursor: pointer;
  }

  .learnMoreButton:hover{
    background-color: black;
    color: #5DBAEF;
  }

  p{
    text-align: center;
    padding:1%;
    width:60%;
    margin:auto;
    font-size: 1.1rem;
  }

.grid{
    height: 1500px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 10% 65% 20%;
}

.box {
    color: black;
  }

  .navBar {
    grid-column-start: 1;
    grid-column-end: span 4;
    background-color: #0F1C23;
  }

  .titleDiv{
    grid-column-start: 1;
    grid-column-end: span 3;
    text-align: center;
  }

  #titleSubHeader{
    font-size:1.3rem;
  }

  .middle{
    grid-column-start: 1;
    grid-column-end: span 3;
    background-color:#BACEDA;
    padding:2%;
  }

  .middleTitle{
    text-align: center;
    width:60%;
    margin:auto;
  }

  .learnMoreLink{
    font-size: 1.4rem;
    text-decoration: underline;
  }

  .descTitle{
    font-size: 2rem;
    text-align: center;
  }

  .descP{
    width:50%;
    font-size: 1.4rem;
    text-align: center;
    margin:auto;
  }

  .canoeDesc{
    grid-column-start: 1;
    grid-column-end: span 3;
    background-color: #4A95BF;
    padding:2%;
    margin:1%;
  }

  .title{
    background-color: #0F1C23;
    color:#4A95BF;
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: center;
  }


   /* Start of Media Queries! */

