
html{
    font-size: 16px;
    font-family: 'Linden Hill';
    font-weight: normal;
    margin: 0;
    background-color: #4A95BF;
  }

  body{
    margin:0px;
  }

  a{
    text-decoration: none;
    cursor: pointer;
  }


  h1{
    font-weight: normal;
    text-align: center;
    font-size: 2.5rem;
  }

  button{
    font-family: 'Linden Hill';
    cursor: pointer;
  }

  p{
    text-align: center;
    padding:1%;
    width:60%;
    margin:auto;
    font-size: 1.4rem;
  }
  
.grid{
    height: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 75% 20%;
}

.box {
    color: black;
  }

  .navBar {
    grid-column-start: 1;
    grid-column-end: span 4;
    background-color: #0F1C23;
  }

  .middle{
    grid-column-start: 1;
    grid-column-end: span 3;
    background-color:#4A95BF;
    padding:2%;
  }

  .formContainer{
    display: flex;
    justify-content: center;
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; 
    padding: 0.6rem; 
    border: 0;
    box-sizing: border-box; 
    margin-top: 0.3rem; 
    margin-bottom: 1rem; 
    resize: none;
    font-family: 'Linden Hill';
    font-size: 1.2rem;
    background-color: #BACEDA;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #0F1C23;
    color: #5DBAEF;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Linden Hill';
    display:flex;
    margin:auto;
    font-size: 1.2rem;
  }
  
  input[type=submit]:hover {
      background-color: black;
      color: #5DBAEF;
  }
  

   /* Start of Media Queries! */
  
     /* tablet(portrait) 1024px and smaller */
 @media only screen and (max-width: 1025px){
  .grid{
    height:1366px;
    grid-template-rows: 4.3% 77.7% 18%;
  }
}

    /* !!!!!!!!!!!!!!!!!! MOBILE  !!!!!!!!!!!!!!!!!! */
/* 
1. iphone SE (375px x 667px)
2. iphone XR (414 px x 896px)
3. iphone 12 Pro (390px x 844px)
4. Pixel 5 (393px x 851px)
5. Samsung Galaxy S8+ (360px x 740px)
6. Samsung Galaxy s20 Ultra (412px x 915px)
7. Galaxy Fold (280px x 653px)
8. Samsung Galaxy A51/71 (412px x 914px)
9. iphone 6/7/8 (375px x 667px)
10. iphone 6/7/8 Plus (414px x 736px)
11. iphone X (375px x 812px) 
*/

/* mobile (portrait) 480px and smaller */
@media only screen and (max-width: 480px), (orientation: lanscape){
  .grid{
    height: 1200px;
    grid-template-rows: 5% 75% 20%;
  }
  h1{
    font-size: 2rem;
    margin:1%;
  }
  p{
    font-size: 1.2rem;
    width:85%;
  }
}
