h1{
    text-align: center;
}

.redirectTable{
    border-style: solid;
    border-radius: 0.5px;
    background-color: grey;
}

tr{
    font-size: 300%;
}

th{
    font-weight: 1px;

}

td{
    font-weight: 1px;
}