
html{
    font-size: 16px;
    font-family: 'Linden Hill';
    font-weight: normal;
    margin: 0;
    background-color: #4A95BF;
  }

  body{
    margin:0px;
    background-color: #4A95BF;
    font-family: 'Linden Hill';
  }


  h1{
    font-weight: normal;
    text-align: center;
    font-size: 2.8rem;
    margin:2%;
  }

  h2{
    font-weight: normal;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 4%;
  }

  h4{
    font-weight: normal;
  }

  button{
    font-family: 'Linden Hill';
  }

  p{
    text-align: center;
    width:65%;
    margin:auto;
    font-size:1.3rem;
    padding:1%;
  }
  
.grid{
    height: 2000px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3% 85% 12%;
}

.box {
    color: black;
  }

  .navBar {
    grid-column-start: 1;
    grid-column-end: span 4;
    background-color: #0F1C23;
  }

  .middle{
    grid-column-start: 1;
    grid-column-end: span 3;
    background-color:#4A95BF;
  }

  .titleSubParagraph{
    font-weight: normal;
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 1.8rem;
    padding-bottom: 2%;
  }

  .lightSection{
    background-color: #BACEDA;
    padding:1%;
    margin:auto;
  }

  .lightSectionText{
    text-align: center;
    margin: auto;
    width: 70%;
    font-size: 1.7rem;
  }

  #smallPrintText{
    text-align: left;
  }

  .title{
    background-color: #0F1C23;
    color:#4A95BF;
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: center;
  }

  ol{
    width:70%;
    margin:auto;
    font-size: 1.3rem;
  }

  .canoeImg{
    width:70%;
    display:flex;
    margin:auto;
    padding:2%;
  }

  * {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  margin:auto;
  /* keeps the arrows inside the container */
  position: relative;
  height:600px;
  overflow:hidden;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: -1.15rem;
  color: #0F1C23;
  font-weight: bold;
  font-size: 1.6rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #BACEDA;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #0F1C23;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  padding: 2%;
}

img{
  margin:auto;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

   /* Start of Media Queries! */

/* !!!!!!!!!!!!!!!!!! TABLETS !!!!!!!!!!!!!!!!!! */
/* 
1. ipad Air (820px x 1180px)
2. ipad Mini (768px x 1024px)
3. Surface Pro 7 (912px x 1368px)
4. Nest Hub (1024px x 600px)
5. ipad (768px x 1024px)
6. ipad pro (1024px x 1366px)
 */

 /* tablet(portrait) 1024px and smaller */
 @media only screen and (max-width: 1024px){
  .grid{
    height:2200px;
  }
  h1{
    font-size: 2.4rem;
  }
  .titleSubParagraph{
    width:65%;
  }
  p{
    width:75%;
  }
  ol{
    width:75%;
  }
  .slideshow-container{
    height:570px;
  }
}

 /* tablet(landscape) 1367px and smaller */
 @media only screen and (max-width: 1367px) and (orientation:landscape){
  .grid{
    height:2100px;
  }
}

/* !!!!!!!!!!!!!!!!!! MOBILE  !!!!!!!!!!!!!!!!!! */
/* 
1. iphone SE (375px x 667px)
2. iphone XR (414 px x 896px)
3. iphone 12 Pro (390px x 844px)
4. Pixel 5 (393px x 851px)
5. Samsung Galaxy S8+ (360px x 740px)
6. Samsung Galaxy s20 Ultra (412px x 915px)
7. Galaxy Fold (280px x 653px)
8. Samsung Galaxy A51/71 (412px x 914px)
9. iphone 6/7/8 (375px x 667px)
10. iphone 6/7/8 Plus (414px x 736px)
11. iphone X (375px x 812px) 
*/

/* mobile (portrait) 480px and smaller */
@media only screen and (max-width: 480px){
  .grid{
    height:1900px;
  }
  h1{
    font-size: 2rem;
  }
  .titleSubParagraph{
    font-size: 1.2rem;
    width: 70%;
  }
  p{

    font-size: 1rem;
    width:80%;
  }
  .lightSectionText{
    font-size: 1.25rem;
    width:75%;
  }
  ol{
    font-size: 1rem;
    width:80%;
  }
  h2{
    font-size: 1.1rem;
    width: 75%;
    margin: auto;
    padding-top: 6%;
    padding-bottom: 2%;
  }
  .slideshow-container{
    height:255px;
  }
  .prev, .next{
    font-size: 1.3rem;
  }
  .dot{
    height:10px;
    width:10px;
  }
}



/* mobile (landscape) 915 px and smaller */
@media only screen and (max-width: 916px) and (orientation: landscape){
  .grid{
    height: 2200px;
  }

  h1{
    font-size: 2.5rem;
  }
  .titleSubParagraph{
    font-size: 1.5rem;
    width:60%;
  }
  .slideshow-container{
    height:450px;
  }
  p{
    width:75%;
  }
} 