
html{
    font-size: 16px;
    font-family: 'Linden Hill';
    font-weight: normal;
    margin: 0;
    background-color: #4A95BF;
  }

  body{
    margin:0px;
    background-color: #4A95BF;
    font-family: 'Linden Hill';
  }


  h1{
    font-weight: normal;
    text-align: center;
    font-size: 2.8rem;
  }

  h3{
    font-weight: normal;
  }

  h4{
    font-weight: normal;
  }

  button{
    font-family: 'Linden Hill';
  }

  p{
    text-align: center;
    width:65%;
    margin:auto;
    font-size:1.2rem;
    padding:1%;
  }
  
.grid{
    height: 1800px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3% 85% 12%;
}

.box {
    color: black;
  }

  .navBar {
    grid-column-start: 1;
    grid-column-end: span 4;
    background-color: #0F1C23;
  }

  .middle{
    grid-column-start: 1;
    grid-column-end: span 3;
    background-color:#4A95BF;
  }

  .titleSubParagraph{
    font-weight: normal;
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 1.8rem;
    padding-bottom: 2%;
  }

  .lightSection{
    background-color: #BACEDA;
    padding:1%;
    margin:auto;
  }

  .lightSectionText{
    text-align: center;
    margin: auto;
    width: 70%;
    font-size: 1.7rem;
  }

  #smallPrintText{
    text-align: left;
  }

  .title{
    background-color: #0F1C23;
    color:#4A95BF;
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: center;
  }

  ol{
    width:60%;
    margin:auto;
    font-size: 1.2rem;
  }

  .canoeImg{
    width:70%;
    display:flex;
    margin:auto;
    padding:2%;
  }

   /* Start of Media Queries! */

   @media only screen and (max-width:900px){
    h1{
        font-size: 2.6rem;
    }
    #titleSubHeader{
        font-size: 1.6rem;
    }
    .lightSectionText{
        font-size: 1.6rem;
    }
   }

   @media only screen and (max-width: 800px){
    .titleSubParagraph{
        width:60%;
    }
   }

   @media only screen and (max-width: 700px){
    h1{
        font-size: 2.4rem;
    }
    .titleSubParagraph{
        font-size: 1.4rem;
    }
    .lightSectionText{
        font-size: 1.4rem;
    }
   }

   @media only screen and (max-width:600px){
    .grid{
        height:1700px;
    }
    .titleSubParagraph{
        width:65%;
    }
    p{
        width:75%;
        font-size: 1.15rem;
    }
    ol{
        width:75%;
        font-size: 1.15rem;
    }
   }

   @media only screen and (max-width:500px){
    h1{
        font-size: 2.2rem;
    }
    .titleSubParagraph{
        font-size: 1.3rem;
    }
    p{
        font-size: 1.1rem;
    }
    ol{
        font-size: 1.1rem;
    }
    .lightSectionText{
        font-size: 1.3rem;
    }
   }

   @media only screen and (max-width:400px){
    h1{
        font-size: 2.1rem;
    }
    .titleSubParagraph{
        font-size: 1.25rem;
        width:70%;
    }
    p{
        font-size: 1rem;
    }
    ol{
        font-size: 1rem;
    }
    .lightSectionText{
        width:75%;
    }
   }