
html{
  font-size: 16px;
  font-family: 'Linden Hill';
  font-weight: normal;
  margin: 0px;
  background-color: #4A95BF;
}

a{
  text-decoration: none;
}

body{
  margin: 0;
}

h1{
    color: #060B0E;
    font-size: 2rem;
    font-weight: normal;
}

h2{
  font-weight: normal;
}

h3{
    color: white;
    font-weight: normal;
}

button{
  font-family: 'Linden Hill';
  background-color: #0F1C23;
  color:#5DBAEF;
  border: 0;
}

.bannerInfo{
  margin:auto;
}

#bannerSubHeader{
  text-align: center;
  color:white;
  letter-spacing: 1.5px;
  font-weight: bold;
  margin:0;
}

#bannerTitle{
  margin:0;
  font-size: 3rem;
  text-align: center;
}

#bannerButton{
  font-family: 'Linden Hill';
  background-color: #0F1C23;
  color: #5DBAEF;
  border: 0;
  margin: auto;
  font-size: 1.5rem;
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 5%;
}

/* start of css rules that hide info until the screen is small enough */
.indexBanner{
  display:none;
  font-size: 1.2rem;
}

.wordsMidSmall {
  display:none;
  grid-column-start: 1;
  grid-column-end: span 2;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-size: 1rem;
}
/* end of css rules */

#firstIndexWords{
    text-align: center;
    padding: 10%;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    padding-top: 0px;
    padding-bottom: 0px;
}

#secondIndexWords{
  text-align: center;
  padding: 10%;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  padding-top: 0px;
  padding-bottom: 0px;
}

.indexImg{
    padding: 3%;
    overflow:hidden;
}

.grid {
    height: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-template-rows: 5% 40% 35% 20%;
  }
  
  .box {
    background-color: #4A95BF;
    color: black;
  }
  
  .navBar {
    grid-column-start: 1;
    grid-column-end: span 4;
    background-color: #0F1C23;
  }
  
  .wordsMid {
    grid-column-start: 1;
    grid-column-end: span 2;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  
  .pictureMid{
    grid-column-start: 3;
    grid-column-end: span 2;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap:wrap;
  }
  
  .footerLogo{
    background-color: #0F1C23;
  }

  .footerLeft{
    background-color: #0F1C23;
  }
  
  .footerMid{
    background-color: #0F1C23;
    color: #5DBAEF;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .container{
    display:block;
  }
  
  .footerRight{
    background-color: #0F1C23;
    color: #5DBAEF;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .pageBanner{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    background-image: url("../images/0603.jpg");
  }

  /* Start of Media Queries! */


  @media only screen and (max-width: 973px){
    .grid{
      grid-template-columns: 0.5fr 1.5fr 1.5fr;
    }

    .footerMid{
      justify-content: center;
    }
  }

  @media only screen and (max-width: 973px) and (max-height:1368){
    .grid{
      height: 1400px;
      grid-template-columns: 0.5fr 1.5fr 1fr;
    }
  }

  @media only screen and (max-width: 800px){
    .grid{
      grid-template-columns: 0.3fr 2fr 2fr;
    }

    #firstIndexWords{
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 5%;
      padding-bottom: 0;

    }

    #secondIndexWords{
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 0;
      padding-bottom: 5%;
    }

    #bannerSubHeader{
      font-size: 1.25rem;
    }

    #bannerButton{
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 4%;
      padding-right: 4;
    }
  }

  @media only screen and (max-width: 650px){
    .grid{
      height: 1100px;
      grid-template-columns: 0.2fr 2.1fr 1.5fr;
    }
    #bannerTitle{
      font-size: 2.5rem;
    }

    #firstIndexWords{
      font-size: 1.25rem;
    }

    #secondIndexWords{
      font-size: 1rem;
    }

    #bannerButton{
      font-size: 1.25rem;
    }

  }

  @media only screen and (max-width: 524px){
    .grid{
      grid-template-columns: 0.1fr 2.1fr 1.5fr;
    }

    #bannerTitle{
      font-size: 2rem;
    }

    #firstIndexWords{
      font-size: 1rem;
    }

    #secondIndexWords{
      font-size: 0.75rem;
    }

    #bannerSubHeader{
      font-size: 1rem;
    }

    #bannerButton{
      font-size: 1.1rem;
    }
  }

  @media only screen and (max-width: 400px){
    /* adjust the grid so that the "nestled in the..." line is a new row above the rest of the index info. */
    .pageBanner{
      grid-column-end: 5;
    }

    #bannerSubHeader{
      font-size: 0.8rem;
    }
    
    .indexBanner{
      display:block;
      grid-column-start: 1;
      grid-column-end: 5;
    }

    #firstIndexWords{
      font-size: 1.05rem;
    }

    #secondIndexWords{
      font-size: 0.9rem;
    }

    .wordsMidSmall{
      display:flex;
    }

    .wordsMid{
      display:none;
    }

    .grid{
      height:960px;
      grid-template-rows: 5% 25% 15% 35% 20%;
    }
    }

    @media only screen and (max-width: 370px){
      #secondIndexWords{
        font-size: 0.7rem;
      }

      .grid{
        grid-template-rows: 5% 25% 15% 30% 25%
      }
    }

/*     This is for the smallest screen sizes. 
When the screen is small enough, the words and photo will all be stacked vertically.
The words "Nested in the...proven to perform" should already be stacked. So this Media
Query will stack "Sole proprietor... visual elegance" and the photo vertically.
*/ 
    @media only screen and (max-width:360px){

      /* add a new row for the picture  */
      .grid{
        grid-template-rows: 5% 20% 15% 15% 20% 25%;
      }
      /* make the container for the words span the whole width to force the picture beneath it.  */
      .wordsMidSmall{
        grid-column-end: span 4;
      }

      #firstIndexWords{
        font-size: 0.9rem;
      }

      .pictureMid{
        grid-column-start: 1;
        grid-column-end: span 4;

      }
      .indexImg{
        width:70%;
      }

    }
  
    /* ipad screens dimensions: 
    ipad mini:768 x 1024 
    ipad: 768 x 1024
    ipad air: 820 x 1180
    ipad pro: 1024 x 1366
    */
    @media only screen and (min-width:760px) and (max-width:1030px) and (min-height: 820px) and (max-height: 1400px){
      .grid{
        height:1400px;
      }
    }

/* Messed Up Screens:
1. Galaxy fold 
 */
  