
html{
  font-size: 16px;
  font-family: 'Linden Hill';
}

h1{
    color: #060B0E;
    font-size: 2rem;
    font-weight: normal;
}

.bannerImg{
  width: 100%;
  overflow: hidden;
  height: fit-content;
}

h3{
    color: white;
    font-weight: normal;
}

body{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #4A95BF;
}

button {
    padding: 2% 5%;
    border-radius: 7px;
    border-style: none;
    background-color: #0F1C23;
    color: #5DBAEF;
    font-size: 1.10rem;
    font-family: 'Times New Roman', Times, serif;
}

button:hover{
  text-decoration: underline;
}

.indexWords{
    text-align: center;
    padding: 3%;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.indexImg{
    width: 50%;
    padding: 1%;
    display:flex;
    align-items: center;
}

.grid {
    /* border: 2px blue solid; */
    height: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 8% 40% 40% 20%;
  }
  
  .box {
    background-color: #4A95BF;
    color: black;
/*     border-radius: 5px;
    border: 2px dodgerblue solid; */
  }
  
  .a {
    grid-column-start: 1;
    grid-column-end: span 4;
  }
  
  .b {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  
  .c{
    grid-column-start: 3;
    grid-column-end: span 2;
  }
  
  .d{
    background-color: #0F1C23;
  }
  
  .e{
    background-color: #0F1C23;
    color: #5DBAEF;
  }
  
  .f{
    background-color: #0F1C23;
    color: #5DBAEF;
  }

  .g{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: center;

  }

  