
html{
  font-size: 16px;
  font-family: 'Linden Hill';
  font-weight: normal;
  margin: 0px;
  background-color: #4A95BF;
}

a{
  text-decoration: none;
  cursor: pointer;
}

body{
  margin: 0px;
}

h1{
    color: #060B0E;
    font-size: 2rem;
    font-weight: normal;
}

h2{
  font-weight: normal;
}

h3{
    color: white;
    font-weight: normal;
}

button{
  font-family: 'Linden Hill';
  background-color: #0F1C23;
  color:#5DBAEF;
  border: 0;
  cursor: pointer;
}

.bannerInfo{
  margin:auto;
}

#bannerSubHeader{
  text-align: center;
  color:white;
  letter-spacing: 1.5px;
  font-weight: bold;
  margin:auto;
  width:70%;

}

#bannerTitle{
  margin:0;
  font-size: 3rem;
  text-align: center;
}

#bannerButton{
  font-family: 'Linden Hill';
  background-color: #0F1C23;
  color: #5DBAEF;
  border: 0;
  margin: auto;
  font-size: 1.5rem;
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 5%;
  cursor: pointer;
}

#bannerButton:hover{
  background-color: black;
  color: #5DBAEF;
}

/* start of css rules that hide info until the screen is small enough */
.indexBanner{
  display:none;
  font-size: 1.2rem;
}

.wordsMidSmall {
  display:none;
  grid-column-start: 1;
  grid-column-end: span 2;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-size: 1rem;
}
/* end of css rules */

#firstIndexWords{
    text-align: center;
    padding: 10%;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    padding-top: 0px;
    padding-bottom: 0px;
}

#secondIndexWords{
  text-align: center;
  padding: 10%;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  padding-top: 0px;
  padding-bottom: 0px;
}

.indexImg{
    padding: 3%;
    overflow:hidden;
}

.grid {
    height: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-template-rows: 5% 40% 35% 20%;
  }
  
  .box {
    color: black;
  }
  
  .navBar {
    grid-column-start: 1;
    grid-column-end: span 4;
    background-color: #0F1C23;
  }
  
  .wordsMid {
    grid-column-start: 1;
    grid-column-end: span 2;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  
  .pictureMid{
    grid-column-start: 3;
    grid-column-end: span 2;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap:wrap;
  }
  
  .footerLogo{
    background-color: #0F1C23;
  }

  .footerLeft{
    background-color: #0F1C23;
  }
  
  .footerMid{
    background-color: #0F1C23;
    color: #5DBAEF;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .container{
    display:block;
  }
  
  .footerRight{
    background-color: #0F1C23;
    color: #5DBAEF;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .pageBanner{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    background-image: url("../images/0603.jpg");
  }

  
.textBox{
  /* display:none; */
  top: 25%;
  left: 30%;
  padding: 2%;
  height: 400px;
  width: 500px;
  background-color: #BACEDA;
  text-align: center;
  position: absolute;
  z-index: 2;
  box-shadow: 2px 3px 30px #0e0d0d7a;
}

.popupClose-btn{
  margin-left:485px;
  margin-top:-10px;
}

#popupTitle{
  font-size: 2.3rem;
}

#popupP{
  font-size: 1.2rem;
  color:rgb(66, 65, 65);
}

#popupSubTitle{
  color: black;
  font-weight: normal;
  width: 80%;
  margin: auto;
  font-size: 1.5rem
}

.shadow{
  background-color: #060B0E;
  position:absolute;
  z-index: 3;
}

  /* Start of Media Queries! */

   /* tablet(portrait) 1024px and smaller */
 @media only screen and (max-width: 1024px){
  .grid{
    height:1366px;
  }
}

/* !!!!!!!!!!!!!!!!!! MOBILE  !!!!!!!!!!!!!!!!!! */
/* 
1. iphone SE (375px x 667px)
2. iphone XR (414 px x 896px)
3. iphone 12 Pro (390px x 844px)
4. Pixel 5 (393px x 851px)
5. Samsung Galaxy S8+ (360px x 740px)
6. Samsung Galaxy s20 Ultra (412px x 915px)
7. Galaxy Fold (280px x 653px)
8. Samsung Galaxy A51/71 (412px x 914px)
9. iphone 6/7/8 (375px x 667px)
10. iphone 6/7/8 Plus (414px x 736px)
11. iphone X (375px x 812px) 
*/

/* mobile (portrait) 480px and smaller */
@media only screen and (max-width: 480px){
  #bannerTitle{
      font-size: 2rem;
  }
  #bannerSubHeader{
    font-size: 1.4rem;
  }
  #bannerButton{
    font-size: 1.2rem;
  }
  /* adjust the grid so that the "nestled in the..." line is a new row above the rest of 
  the index info. */
    .pageBanner{
      grid-column-end: 5;
    }
    
    .indexBanner{
      display:block;
      grid-column-start: 1;
      grid-column-end: 5;
    }

    #firstIndexWords{
      font-size: 1.1rem;
    }

    #secondIndexWords{
      font-size: 1rem;
      padding:0;
      width:90%;
    }

    .wordsMidSmall{
      display:flex;
    }

    .wordsMid{
      display:none;
    }

    .grid{
      height:960px;
      grid-template-rows: 5% 25% 15% 35% 20%;
      grid-template-columns: 1fr 1fr 1.5fr;
    }

}

/* mobile (landscape) 915 px and smaller */
@media only screen and (max-width: 915px) and (orientation: landscape){

  #firstIndexWords{
    padding:5%;
  }
} 


  