
html{
    font-size: 16px;
    font-family: 'Linden Hill';
    font-weight: normal;
    margin: 0;
    background-color: #4A95BF;
  }

  body{
    margin:0px;
    font-weight: normal;
  }

  a{
    text-decoration: none;
  }

  button{
    display:flex;
    margin:auto;
    font-family: 'Linden Hill';
    background-color: #0F1C23;
    color:#5DBAEF;
    border: none;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.2rem;
  }

  h1{
    font-weight: normal;
  }

  h2{
    font-weight: normal;
  }

  p{
    text-align: center;
    padding:2%;
    width:60%;
    margin:auto;
  }
  
.grid{
    height: 1100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 75% 20%;
}

.box {
    color: black;
  }

  .navBar {
    grid-column-start: 1;
    grid-column-end: span 4;
    background-color: #0F1C23;
  }

  .middle{
    grid-column-start: 1;
    grid-column-end: span 3;
    background-color:#4A95BF;
    padding:2%;
  }

  .title{
    background-color: #0F1C23;
    color:#4A95BF;
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: center;
  }

  #instructionsList{
    width:60%;
    margin:auto;
  }

   /* Start of Media Queries! */

@media only screen and (max-width: 852px){
    .title{
        width: 70%;
    }

    #instructionsList{
        width:70%;
    }

    p{
        width:70%;
    }
}

@media only screen and (max-width: 710px){
        .title{
        width: 80%;
    }

    #instructionsList{
        width:80%;
    }

    p{
        width:80%;
    }
}

@media only screen and (max-width: 610px){
    h1{
        font-size: 1.7rem;
    }

    p{
        font-size: 0.9rem;
    }

    #instructionsList{
    font-size: 0.9rem;
    }
    .grid{
        grid-template-rows: 5% 70% 25%;
    }
}

@media only screen and (max-width:510px){
    h1{
        font-size: 1.6rem;
    }
    button{
        font-size: 1rem;
    }
    .grid{
        grid-template-rows: 5% 75% 20%;
    }
}

@media only screen and (max-width: 440px){
    h1{
        font-size: 1.5rem;
    }

    p{
        font-size: 0.8rem;
    }

    #instructionsList{
    font-size: 0.8rem;
    }
    .grid{
        grid-template-rows: 5% 70% 25%;
    }

}

@media only screen and (min-width: 700px) and (max-width: 800px){
    /* ruleset for width between 320px - 480px 
    and height between 1000px - 1200px. 
    About the range for ipads*/
    body{
        background-color: red;
    }
}
    
/* Messed up screens: 
1. Surface Pro 7 (912 x 1368) 
2. ipad Air (820 x 1180)
3. Galaxy Fold (280 x 653) */
  
  
    