
html{
  font-size: 16px;
  font-family: 'Linden Hill';
  margin:0px;
  padding:0px;
}

body{
  margin:0px;
  padding:0px;
}

.hamburger{
  display:none;
  padding: 15px;
  padding-left: 1%;
}

#navTab{
  text-decoration: none;
  color: #5DBAEF;
}

#navTab:hover{
  color: #BACEDA;
}

nav {
  margin: auto;
  width:100%;
}

nav ul {
  list-style-type: none;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
}

nav ul li {
  padding: 15px;
  display: block;
  font-size: 1.5rem;
}

nav ul a:hover, 
nav ul a:focus {
  font-size: 1.5rem;
}

#dropdownStyle {
  font-size: 1.25rem;
}

/* Dropdown Button */
.dropbtn {
  background-color: #0F1C23;
  color: #5DBAEF;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.dropbtn:hover{
  color:#BACEDA;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  /* position: relative; */
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  justify-content: center;
  border-style: solid;
  border-color: #0F1C23;
  border-width: 0.3px;
  background-color: #0F1C23;
  min-width: 20%;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #5DBAEF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: #BACEDA;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block; color: grey}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {color: black; background-color: white;}*/

.hide{
  display: none;
}

.noHide{
  display:block;
}

.orderDropDownTable{
  margin:0;
}

th{
  text-decoration: underline;
  font-weight: normal;
  text-align: inherit;
}

footer {
  /* puts the logo and words next to each other horizontally */
  display: flex;
  font-size: 1.25rem;
  background-color: #0F1C23;
  color:#5DBAEF;
  padding-left: 1%;
  /*aligns the words vertically*/
  align-items: center;
  /*increases space between each line of text*/
  line-height: 1.6;
}

.logo{
  height: 95%;
}


.footerDiv{
  display: flex;
  justify-content: space-around;
  background-color: #0F1C23;
  grid-column-start: 1;
  grid-column-end: span 4;
}

.footerLogo{
  background-color: #0F1C23;
}

.footerLeft{
  background-color: #0F1C23;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.footerMid{
  background-color: #0F1C23;
  color: #5DBAEF;
  display:flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
/*       grid-column-start: 2;
  grid-column-end: span 2; */
}

.container{
  display:block;
}

.footerRight{
  background-color: #0F1C23;
  color: #5DBAEF;
  display:flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.icon{
  height:20px;
  width:20px;
}

.getInTouchWords{
  text-decoration-line: underline;
  text-decoration-color: #5DBAEF;
  color: #5DBAEF;
  text-align: center;
  padding:4%;
  font-size: 1.75rem;
  font-weight: normal;
}

.contactMethods{
  text-align: center;
  font-weight: normal;
  line-height: 0.5px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerTitle{
  text-align: center;
  font-size: 1.75rem;
  font-weight: normal;
  color: #5DBAEF;
  margin:0
  }
  

.address{
  text-align: center;
  font-weight: normal;
  font-size: 1.5rem;
  padding: 2%;
  margin:0;
}

.creds{
  text-align: center;
  font-weight: normal;
  padding: 2%;
  margin:0;
}

.smallerCreds{
  display:none;
  text-align: center;
  font-weight: normal;
  padding: 2%;
  margin:0;
}


/* This is the start of the code for mobile nav bar */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0F1C23;
  overflow-x: hidden;
  padding-top: 4rem;
  transition: 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  font-family: "Linden Hill";
}

/* This is the links in the side nav */
.sidenav a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #5DBAEF;
  display: block;
  transition: 0.4s;
  white-space: nowrap;
  font-size: 1.5rem;
}

.sidenav a:hover{
  color:#BACEDA;
}

/* Position and style the close button (top right corner) */
.sidenav .close-btn {
  position: absolute;
  top: 0rem;
  right: 0rem;
  font-size: 2rem;
}

.sidenav .close-btn:hover {
  color:#BACEDA;
  transform: scale(1.2);
  }

.back-arrow{
  position: absolute;
  top: 0rem;
  left: 0rem;
  font-size: 2rem;
}

.back-arrow:hover{
  color:#BACEDA;
}
table{
  margin:auto;
}
#mobileNavTab{
  padding-left: 1rem;
  font-size: 1.6rem;
}
#aboutMeNavTab{
  padding-left: 1rem;
  font-size: 1.6rem;
}

#productsMobileNavTab{
  padding-left: 1rem;
  padding-right: 2.5rem;
  font-size: 1.5rem;
}

#productsMobileNavTabHeader{
  padding-left: 1rem;
  padding-right: 2.5rem;
  font-size: 1.6rem;
  text-align: inherit;
}

#orderMobileNavTabHeader{
  padding-left: 1rem;
  padding-right: 2rem;
}

#orderMobileNavTab{
  padding-left: 1rem;
}

#doubleWord{
  line-height: 0.95rem;
}

.sidenav{
  display:none;
}

 /* Start of Media Queries! */

 /* desktop screens. Above 1600px */
 @media only screen and (min-width:1600px){
  
  .footerTitle{
    font-size: 1.9rem;
  }
  .creds{
    font-size: 1.2rem;
  }
  .getInTouchWords{
    font-size: 1.9rem;
  }
  .contactMethods{
    font-size: 1.3rem;
  }
  li{
    font-size: 1.5rem;
  }
  .dropbtn{
    font-size: 1.5rem;
  }
  .logo{
    height:80%;
  }

 }

 /* !!!!!!!!!!!!!!!!!! TABLETS !!!!!!!!!!!!!!!!!! */
/* 
1. ipad Air (820px x 1180px)
2. ipad Mini (768px x 1024px)
3. Surface Pro 7 (912px x 1368px)
4. Nest Hub (1024px x 600px)
5. ipad (768px x 1024px)
6. ipad pro (1024px x 1366px)
 */

 /* tablet(portrait) 1024px and smaller */
 @media only screen and (max-width: 1024px){
  .logo{
    height:65%;
  }

  /* displays the smaller nav bar for a smaller screen size */
  .hide{
    display: block;
  }

  .noHide{
    display:none;
  }
  .sidenav{
    display:none;
  }
}

@media only screen and (max-width: 700px){
  .footerLeft{
    display:none;
  }
      /* activate hamburger menu  */ 
      nav ul{
        display: none;
      }
    
      .hamburger{
          display: block;
      }
  .sidenav{
    display:none;
  }
}

/* !!!!!!!!!!!!!!!!!! MOBILE  !!!!!!!!!!!!!!!!!! */
/* 
1. iphone SE (375px x 667px)
2. iphone XR (414 px x 896px)
3. iphone 12 Pro (390px x 844px)
4. Pixel 5 (393px x 851px)
5. Samsung Galaxy S8+ (360px x 740px)
6. Samsung Galaxy s20 Ultra (412px x 915px)
7. Galaxy Fold (280px x 653px)
8. Samsung Galaxy A51/71 (412px x 914px)
9. iphone 6/7/8 (375px x 667px)
10. iphone 6/7/8 Plus (414px x 736px)
11. iphone X (375px x 812px) 
*/

/* mobile (portrait) 480px and smaller */
@media only screen and (max-width: 480px){
  .footerTitle{
    font-size: 1.3rem;
  }
  .address{
    font-size: 1.1rem;
  }
  .getInTouchWords{
    font-size: 1.2rem;
  }
  .contactMethods{
    font-size: 1rem;
  }
  .smallerCreds{
    display:block;
  }
  .creds{
    display:none;
  }
  .sidenav{
    display:block;
  }
}

/* mobile (landscape) 915 px and smaller */
@media only screen and (max-width: 915px) and (orientation: landscape){
  .sidenav{
    display:none;
  }
  .footerLeft{
    display:none;
  }
  .footerDiv{
    width:100%;
  }
} 



  