
html{
  font-size: 16px;
  font-family: 'Linden Hill';
}

.hamburger{
  display:none;
  color: white;
}

#navTab{
  text-decoration: none;
  color: #5DBAEF;
}

#navTab:hover{
  text-decoration-color: #BACEDA;
  
}

nav {
  margin: auto;
  /* background-color: #0F1C23; */
}

nav ul {
  list-style-type: none;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
}

nav ul li {
  padding: 15px;
  display: block;
  font-size: 1.5rem;
}

nav ul a:hover, 
nav ul a:focus {
  font-size: 1.5rem;
}

#dropdownStyle {
  font-size: 1.25rem;
}

/* Dropdown Button */
.dropbtn {
  background-color: #0F1C23;
  color: #5DBAEF;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  /* position: relative; */
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  justify-content: center;
  border-style: solid;
  border-color: #0F1C23;
  border-width: 0.3px;
  background-color: #0F1C23;
  min-width: 20%;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #5DBAEF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: #BACEDA;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block; color: grey}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {color: black; background-color: white;}*/

.hide{
  display: none;
}

.noHide{
  display:block;
}

th{
  text-decoration: underline;
  font-weight: normal;
}

footer {
  /* puts the logo and words next to each other horizontally */
  display: flex;
  font-size: 1.25rem;
  background-color: #0F1C23;
  color:#5DBAEF;
  padding-left: 1%;
  /*aligns the words vertically*/
  align-items: center;
  /*increases space between each line of text*/
  line-height: 1.6;
}

.logo{
  height: 95%;
}


.footerDiv{
  display: flex;
  justify-content: space-around;
  background-color: #0F1C23;
  grid-column-start: 1;
  grid-column-end: span 4;
}

.footerLogo{
  background-color: #0F1C23;
}

.footerLeft{
  background-color: #0F1C23;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.footerMid{
  background-color: #0F1C23;
  color: #5DBAEF;
  display:flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
/*       grid-column-start: 2;
  grid-column-end: span 2; */
}

.container{
  display:block;
}

.footerRight{
  background-color: #0F1C23;
  color: #5DBAEF;
  display:flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.getInTouchWords{
  text-decoration-line: underline;
  text-decoration-color: #5DBAEF;
  color: #5DBAEF;
  text-align: center;
  padding:4%;
  font-size: 1.75rem;
  font-weight: normal;
}

.contactMethods{
  text-align: center;
  font-weight: normal;
  line-height: 0.5px;
  font-size: 1.2rem;
}

.footerTitle{
  text-align: center;
  font-size: 1.75rem;
  font-weight: normal;
  color: #5DBAEF;
  margin:0
  }
  

.address{
  text-align: center;
  font-weight: normal;
  font-size: 1.5rem;
  padding: 2%;
  margin:0;
}

.creds{
  text-align: center;
  font-weight: normal;
  padding: 2%;
  margin:0;
}

.smallerCreds{
  display:none;
  text-align: center;
  font-weight: normal;
  padding: 2%;
  margin:0;
}


 /* Start of Media Queries! */

 /* !!!!!!!!!!!!!!!!!! TABLETS !!!!!!!!!!!!!!!!!! */
/* 
1. ipad Air (820px x 1180px)
2. ipad Mini (768px x 1024px)
3. Surface Pro 7 (912px x 1368px)
4. Nest Hub (1024px x 600px)
5. ipad (768px x 1024px)
6. ipad pro (1024px x 1366px)
 */

 /* tablet(portrait) 1024px and smaller */
 @media only screen and (max-width: 1024px){
  .logo{
    height:65%;
  }
}

@media only screen and (max-width: 700px){
  .footerLeft{
    display:none;
  }
}



/* @media only screen and (max-width: 1021px){
  .hide{
    display: block;
  }

  .noHide{
    display:none;
  }

}

@media only screen and (max-width: 780px){ */
  /* activate hamburger menu  */
/* 
  nav ul{
    display: none;
  }

  .hamburger{
      display: flex;
      justify-content: flex-end;
      color:#5DBAEF;
  }

}

@media only screen and (max-width: 973px){
  .logo{
    height:80%;
  }
  .footerTitle{
    font-size: 1.5rem;
  }
  .address{
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 800px){
  .footerTitle{
    font-size: 1.25rem;
  }

  .address{
    font-size: 0.9rem;
  }

  .creds{
    font-size: 0.9rem;
  }

  .getInTouchWords{
    font-size: 1.25rem;
  }

  .contactMethods{
    font-size: 1rem;
  }
  .logo{
    height:60%;
  }
}

@media only screen and (max-width: 650px){
  .logo{
    display:none;
  }
}

@media only screen and (max-width: 480){
  .footerTitle{
    font-size: 1.1rem;
  }

  .address{
    font-size: 1rem;
  }

  .smallerCreds{
    display:block;
  }

  .creds{
    display:none;
  }
}


@media only screen and (max-width: 450px){

  .address{
    font-size: 1rem;
  } */

/* displaying condensed footer info */
/*   .smallerCreds{
    display:block;
  }

  .creds{
    display:none;
  }

} */



  