
#navTab{
  text-decoration: none;
  color: grey;
}

#navTab:hover{
  text-decoration: none;
  color: black;
}

nav {
  margin: auto;
  width: 90%;
}

nav ul {
  list-style-type: none;
  margin: auto;
  display: flex;
  justify-content: center;
}

nav ul li {
  padding: 24px;
  display: block;
  font-weight: bold;
  font-size: 25px;
}

nav ul a:hover, 
nav ul a:focus {
  color: black;
  font-size: 25px;
  font-weight: bold;
}

#dropdownStyle {
  font-size: 20px;
  font-weight: bold;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: grey;
  font-size: 25px;
  font-weight: bold;
  border: none;
  font-family: 'Times New Roman', Times, serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  /* position: relative; */
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  justify-content: center;
  border-style: solid;
  border-color: #d4d4d4;
  border-width: 0.3px;
  background-color: white;
  min-width: 20%;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: black;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block; color: grey}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: black; background-color: white;}

footer {
  /* puts the logo and words next to each other horizontally */
  display: flex;
  font-size: 20px;
  background-color: black;
  color: white;
  padding-left: 1%;
  /*aligns the words vertically*/
  align-items: center;
  /*increases space between each line of text*/
  line-height: 1.6;
}

.footerWords{
  padding-left: 15%;
  text-align: center;
  font-size: 130%;
}

.footerImg{
  width: 20%;
  height: 20%;
}
  