
html{
  font-size: 16px;
  font-family: 'Linden Hill';
  font-weight: normal;
  margin: 0;
  background-color: #4A95BF;
}

body{
  margin:0px;
}

a{
  text-decoration: none;
  text-decoration: none;
  display:flex;
}

#squareLink{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:100%;
}

#link{
  text-decoration: none;
  display: flex;
  text-decoration: none;
  color: #0F1C23;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

h1{
  font-weight: normal;
  text-align: center;
  font-size: 2.5rem;
}

button{
  font-family: 'Linden Hill';
}

p{
  text-align: center;
  padding:2%;
  width:60%;
  margin:auto;
}

.grid{
  height: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 6% 7% 63% 24%;
}

.box {
  color: black;
}

.navBar {
  grid-column-start: 1;
  grid-column-end: span 4;
  background-color: #0F1C23;
}

.banner{
  display:flex;
  grid-column-start: 1;
  grid-column-end: span 4;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.middle{
  grid-column-start: 1;
  grid-column-end: span 3;
  background-color:#4A95BF;
}

#centerDiv{
  margin:auto;
}

.itemTable{
  margin: auto;
  font-size: 1.6rem;
  border-spacing:5px;
  }
  

  .item{
      background-color:#BACEDA;
      height: 18rem;
      width: 18rem;
      font-size: 3rem;
      text-align: center;
  }


 /* Start of Media Queries! */
 /*desktop screens 1600px and up */
 @media only screen and (min-width:1600px){
  .grid{
    height:1100px;
    grid-template-rows: 6.7% 6% 58.8% 28.5%;
  }
 }
/* !!!!!!!!!!!!!!!!!! TABLETS !!!!!!!!!!!!!!!!!! */
/* 
1. ipad Air (820px x 1180px)
2. ipad Mini (768px x 1024px)
3. Surface Pro 7 (912px x 1368px)
4. Nest Hub (1024px x 600px)
5. ipad (768px x 1024px)
6. ipad pro (1024px x 1366px)
 */

 /* tablet(portrait) 1024px and smaller */
 @media only screen and (max-width: 1024px){

  .grid{
    height:1368px;
    grid-template-rows: 4.5% 10% 67.5% 18%;
  }
  .item{
    height:22rem;
    width:22rem;
  }
} 

 /* tablet(landscape) 1368px and smaller */
 @media only screen and (max-width: 1368px) and (orientation: landscape){

  .grid{
    height:1200px;
    grid-template-rows: 5% 10% 65% 20%;
  }
  .item{
    height:22rem;
    width:22rem;
  }
}

/* !!!!!!!!!!!!!!!!!! MOBILE  !!!!!!!!!!!!!!!!!! */
/* 
1. iphone SE (375px x 667px)
2. iphone XR (414 px x 896px)
3. iphone 12 Pro (390px x 844px)
4. Pixel 5 (393px x 851px)
5. Samsung Galaxy S8+ (360px x 740px)
6. Samsung Galaxy s20 Ultra (412px x 915px)
7. Galaxy Fold (280px x 653px)
8. Samsung Galaxy A51/71 (412px x 914px)
9. iphone 6/7/8 (375px x 667px)
10. iphone 6/7/8 Plus (414px x 736px)
11. iphone X (375px x 812px) 
*/

/* mobile (portrait) 480px and smaller */

/* Lots of phone heights. Lot of empty space for the shorter phones, 
so I split it into two media queries. This is for phones with 
the height 812px and smaller. 
*/
@media only screen and (max-width: 480px) and (max-height:813px){
  .grid{
      height:812px;
      grid-template-rows: 7% 10% 55% 28%;
  }
  h1{
      font-size: 2rem;
  }

  .item{
    height: 10rem;
    width:10rem;
    font-size: 2.3rem;
  }
}

/* for phones with a height greater than 812px.  */
@media only screen and (max-width: 480px) and (min-height:813px){
  .grid{
      height:915px;
      grid-template-rows: 6.4% 10% 58.6% 25%;
  }
  h1{
      font-size: 2rem;
  }

  .item{
    height: 10rem;
    width:10rem;
    font-size: 2.3rem;
  }
}


/* mobile (landscape) 915 px and smaller */
@media only screen and (max-width: 915px) and (orientation: landscape){

  .grid{
    height: 915px;
    grid-template-rows: 6.6% 10% 57.6% 26%;
  }
  h1{
    font-size: 2rem;
  }
  .item{
    height:15rem;
    width:15rem;
    font-size: 2rem;
  }
} 
 