
html{
  font-size: 16px;
  font-family: 'Linden Hill';
  font-weight: normal;
  margin: 0;
  background-color: #4A95BF;
}

body{
  margin:0px;
}

a{
  text-decoration: none;
  color:#0F1C23;
}


h1{
  font-weight: normal;
  text-align: center;
  font-size: 2.5rem;
}

button{
  font-family: 'Linden Hill';
}

p{
  text-align: center;
  padding:2%;
  width:60%;
  margin:auto;
}

.grid{
  height: 1100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5% 75% 20%;
}

.box {
  color: black;
}

.navBar {
  grid-column-start: 1;
  grid-column-end: span 4;
  background-color: #0F1C23;
}

.middle{
  grid-column-start: 1;
  grid-column-end: span 3;
  background-color:#4A95BF;
  padding:2%;
}

#centerDiv{
  margin:auto;
}

.itemTable{
  border-spacing:0;
  width: 80%;
  margin: auto;
  font-size: 1.6rem;
  border-spacing:5px;
  }
  

  .item{
      background-color:#BACEDA;
      height: 15rem;
      width: 15rem;
      font-size: 3rem;
      text-align: center;
  }


.title{
  background-color: #0F1C23;
  color:#4A95BF;
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: center;
}

#instructionsList{
  width:60%;
  margin:auto;
}

 /* Start of Media Queries! */
   /* !!!!!!!!!!!!!!!!!! TABLETS !!!!!!!!!!!!!!!!!! */
/* 
1. ipad Air (820px x 1180px)
2. ipad Mini (768px x 1024px)
3. Surface Pro 7 (912px x 1368px)
4. Nest Hub (1024px x 600px)
5. ipad (768px x 1024px)
6. ipad pro (1024px x 1366px)
 */

 /* tablet(portrait) 1024px and smaller */
 @media only screen and (max-width: 1024px){
  
  .grid{
    height: 1367px;
  }

  h1{
    font-size: 2.5rem;
  }

  .tableHeader{
    font-size: 2rem;
  }

  .tableRow{
    font-size: 1.8rem;
    padding:1%;
  }
} 
 