
html{
    font-size: 16px;
    font-family: 'Linden Hill';
    font-weight: normal;
    margin: 0;
    background-color: #4A95BF;
  }

  body{
    margin:0px;
    font-weight: normal;
  }

  a{
    text-decoration: none;
    cursor: pointer;
    color:#0F1C23
  }

  button{
    font-family: 'Linden Hill';
    cursor: pointer;
  }

  .pricingBtn{
    display:flex;
    margin:auto;
    font-family: 'Linden Hill';
    background-color: #0F1C23;
    color:#5DBAEF;
    border: none;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5%;
    font-size: 1.2rem;
  }

  .pricingBtn:hover{
    background-color: black;
    color: #5DBAEF;
  }

  h1{
    font-weight: normal;
    text-align: center;
    margin:0;
    font-size: 2.5rem;
  }

  h2{
    font-weight: normal;
  }

  p{
    text-align: center;
    padding:1%;
    width:70%;
    margin:auto;
    font-size: 1.2rem;
  }
  
.grid{
    height: 1366px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 75% 20%;
}

.box {
    color: black;
  }

  .navBar {
    grid-column-start: 1;
    grid-column-end: span 4;
    background-color: #0F1C23;
  }

  .images{
    display:block;
    padding:1%;
    width:60%;
  }

  .furnishingImagesSection{
    display:flex;
  }

  .furnishingLeftSection{
    display:block;
  }

  .furnishingRightSection{
    display:block;
  }

  .furnishingImages{
    width: 70%;
    margin: auto;
    display: flex;
    padding:2%;
  }
  .middle{
    grid-column-start: 1;
    grid-column-end: span 3;
    background-color:#4A95BF;
    padding:2%;
  }

  * {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  margin:auto;
  /* keeps the arrows inside the container */
  position: relative;
  background-color: #BACEDA;
  width:80%;
}

.mySlides .fade{
  display:grid;
  height: 816px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 60% 20%;
}

.fade{
  padding-top:2%;
  padding-bottom:2%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: -1.15rem;
  color: #0F1C23;
  font-weight: bold;
  font-size: 1.6rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #BACEDA;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #0F1C23;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  padding: 4%;
}

.imgContainer{
  width:150%;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.words{
  margin:auto;
}

.bigWords{
  font-size: 1.7rem;
  width:80%;
  padding:5%;
}

.smallWords{
  font-size: 1.3rem;
  padding:3%;
}

.blockContent{
  display:block;
}

.furnishingImagesSection{
  grid-column-start: 1;
  grid-column-end: span 2;
}

.miniSecondSection{
  grid-column-start: 1;
  grid-column-end: span 2;
  padding:3%;
}

.miniBanner{
  grid-column-start: 1;
  grid-column-end: span 2;
}
   /* Start of Media Queries! */

/* !!!!!!!!!!!!!!!!!! TABLETS !!!!!!!!!!!!!!!!!! */
/* 
1. ipad Air (820px x 1180px)
2. ipad Mini (768px x 1024px)
3. Surface Pro 7 (912px x 1368px)
4. Nest Hub (1024px x 600px)
5. ipad (768px x 1024px)
6. ipad pro (1024px x 1366px)
 */

 /* tablet(portrait) 1024px and smaller */
 @media only screen and (max-width: 1024px){

  h1{
    font-size: 2rem;
  }

}


/* !!!!!!!!!!!!!!!!!! MOBILE  !!!!!!!!!!!!!!!!!! */
/* 
1. iphone SE (375px x 667px)
2. iphone XR (414 px x 896px)
3. iphone 12 Pro (390px x 844px)
4. Pixel 5 (393px x 851px)
5. Samsung Galaxy S8+ (360px x 740px)
6. Samsung Galaxy s20 Ultra (412px x 915px)
7. Galaxy Fold (280px x 653px)
8. Samsung Galaxy A51/71 (412px x 914px)
9. iphone 6/7/8 (375px x 667px)
10. iphone 6/7/8 Plus (414px x 736px)
11. iphone X (375px x 812px) 
*/

/* mobile (portrait) 480px and smaller */
@media only screen and (max-width: 480px){

}
 

    