h1{
    color: white;
    font-size: 350%;;
}

body{
    font-family: 'Times New Roman', Times, serif;
    margin: 8px;
}

button {
    padding: 2% 5%;
    border-radius: 7px;
    border-style: none;
    background-color: rgb(60, 96, 119);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.homeHeader {
    background-color: rgb(91, 146, 163);
    padding: 10%;
    text-align: center;

}

.homeBody {
    display: flex;
    width: 100%;
    align-items: center;
}

p {
    font-size: 25px;
}

.indexWords{
    width: 50%;
    text-align: center;
    padding: 3%;
}

.indexImg{
    width: 50%;
    padding: 1%;

}